/src/public_html/res/bootstrap
/src/public_html/kcfinder
/src/public_html/res/ckeditor
/src/public_html/res/cropper
/src/public_html/res/dx
/src/public_html/res/globalize
/src/public_html/res/icons
/src/public_html/res/qr-scanner
/src/public_html/res/sbadmin
/src/mwap/modulesext
/src/app/cfg
src/mwap/modules/mwx
src/public_html/res/modules/mwx